@charset "utf-8";

.tab-menu {
  padding: 2rem 4rem 1.5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}

.tab-menu button {
  color: #000;
  margin-right: 2rem;
  padding: 1rem 2rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 800;
  
}
.tab-menu .tab.is_active {
  color: #a20556;
  
}


#tab-contents {
  color: black;
  font-size: 1.5rem;
  display: flex;
  transition: 0.3s;
}
#tab-contents .tab-content {
  padding: 3rem 6rem;
  display: none;
}
#tab-contents .tab-content.is_active {
  display: block;
  background-color: #ffffff;
  width: 100%;
  transition: 0.3s;
  box-shadow: 2px 2px 6px #e4e4e4;
}